/tmp
/**/tmp
/source-title-matching/journals.csv
/source-title-matching/wosexp-with-dependencies.tar.gz
/source-title-matching/input_files.txt
/**/__pycache__
/wos-findbyexport/sortreferences/input
/wos-findbyexport/findreferences/input
wos_explorer-*.tar.gz
